{% extends 'base.html' %} {% block body %}
<div class="jumbotron bgboat">
    <h1 class="display-4 text-center">Cruise the world with us...</h1>
    <div class="container">

        <div class="tab-content">
            <div class="p-2 dancemonkey">
                <form>
                    <div class="row p-2">
                        <div class="col">Departure Date</div>
                        <div class="col">Return Date</div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                            <input type="date" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Departure Port">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Destination Port">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                            <a class="btn btn-primary" href="#" role="button">Find Boats</a>
                        </div>
                    </div>
                </form>
            </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}